body{
  margin: 0;
  padding: 0;

}

.navbar-inverse{
  background-color: white;
  border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-right: 40px;
}

.navbar-inverse .navbar-brand:hover {
    color: black;
}
.navbar-inverse .navbar-nav > li > a{
   display: block;
   color: black;
   text-align: center;
   text-decoration: none;
   padding: 20px 20px;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 13px;
}

.navbar-inverse .navbar-nav > li > a:hover{
  color: black;
}

.navbar-inverse .navbar-nav > .active > a{
  background-color: white;
  color: black;
}

.navbar-inverse .navbar-nav > .active > a:hover{
  background-color: transparent   ;
  color: black;
}

/* CAROUSEL
-------------------------------------------------- */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 620px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

/* ABOUT THE CHEF SECTION*/


@media screen and (max-width: 568px){
     .navbar-inverse .navbar-brand{
      margin-right:2px;
       }
}

.navbar-toggle {
  background-color: black;
}
section#chef {
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
}

section#chef .chef {
padding-left: 100px;
}

section#chef .info h1{
   margin-left: 60px;
   margin-top: 150px;
   font-family: 'Old Standard TT', serif;

}

section#chef .info {
  opacity: 0;
}
